@import "tailwindcss";

@theme {
  --color-codeconnect-bg: #090e17;
  --color-codeconnect-card: #181f2b;
  --color-codeconnect-input: #2d3748;
  --color-codeconnect-green: #63f57e;
  --color-codeconnect-green-hover: #4de66c;
  --color-codeconnect-text-gray: #9ca3af;
}

body {
  background-color: var(--color-codeconnect-bg);
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0;
}
